# Google Credentials
betmarket-b2879-7d4e3b64e4dd.json
*.json.key
*.key

# Local certificates and testing files
cert.der
test_lic.py
test_license_db.py
git_helper.py

# diagnostic check and wait scripts
check_*.py
wait_*.py
